@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./font/Pretendard-Medium.woff2') format("woff2");
  font-weight: 400;
}

.App {
  text-align: center;
  font-family: 'Pretendard-Medium';
  background-color: beige;
  /* ivory lightyellow beige  */
}