@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./font/Pretendard-Medium.woff2') format("woff2");
  font-weight: 400;
}

.App {
  text-align: center;
  font-family: 'Pretendard-Medium';
  background-color: beige;
  /* ivory lightyellow beige  */
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./font/Pretendard-Medium.woff2') format("woff2");
  font-weight: 400;
}

.App {
  text-align: center;
  font-family: 'Pretendard-Medium';
  background-color: beige;
  /* ivory lightyellow beige  */
}

.loginform{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 69vh;
}

.loginform div{
  padding: 5px;
}

.loginform button{
  margin: 15px;
  width: 300px;
}

.loginform input{
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  border: solid 1px grey;
}

.loginformtext{
  text-align: left;
  font-weight: bold;
}

a:hover{
  color: black;
  text-decoration: none;
}

a{
  color: inherit;
  text-decoration: none;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav img{
  display: flex;
  width: 100px;
  justify-content: center;
}

.titleImg{
  display: flex;
  text-align: center;
}

.titleImg img{
  border-radius: 50px;
}

.mypage{
  height: 66vh;
  margin-top: 60px;
}

.side{
  height: 40vh;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.side div{
  margin: 0 0 15px -50px;
}

.mypagemain{
  margin-left: 20%;
  text-align: left;
  width: 50vw;
}

.mypagemaincategory{
  margin-top: 30px;
  display: flex;
}

.mypagemaincategory h3{
  margin-right: 20px;
}

.mypagetogglebutton{
  margin: 20px;
}

.rentbutton{
  text-align: center;
}